# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Log files
*.log

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Secrets / DB
.env
db/
*.sqlite3
